.sidebar {
  background: #FAFAFA;
  box-shadow: 0 0 10px 2px rgba(31, 51, 73, 0.1);
  min-width: 240px !important;
  max-width: 240px !important;
  overflow-y: scroll;
  z-index: 10;
}

.sidebar-heading {
  color: #002984;
  margin-bottom: 3px;
}
