.sidebar {
  background: #fafafa;
  box-shadow: 0 0 10px 2px rgba(31, 51, 73, 0.1);
  min-width: 240px !important;
  max-width: 240px !important;
  overflow-y: scroll;
  z-index: 10;
}

.sidebar-heading {
  color: #002984;
  margin-bottom: 3px;
}

.mapboxgl-ctrl-geocoder {
  min-width: 300px !important;
}

.sidebar-filters {
  bottom: 0;
  position: absolute;
  display: grid;
}

.sidebar-side {
  margin-left: 240px;
  position: absolute;
  min-height: 100%;
}

.shadow {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bottom-right {
  position: absolute !important;
  bottom: 0;
  right: 0;
}

.height-small {
  min-height: 12px;
}

.width-small {
  min-width: 225px;
}
